body {
font-family: myFirstFont;
color: black;
}

a {
color: black;
text-decoration: none;
}

@font-face {
    font-family: myFirstFont;
    src: url(OPTIEngraversOldEnglish.otf);
  }
  